{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "targets": {
          "browsers": [">1%", "last 4 versions", "Firefox ESR", "not ie < 9"]
        },
        "forceAllTransforms": true,
        "useBuiltIns": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/proposal-class-properties"],
  "ignore": ["node_modules"]
}
